$bgPrimary: #1f1f1f;
$bgPrimary: radial-gradient(
  circle at center,
  #2fa50ba1 0,
  #273a21 20%,
  #1f1f1f
);
$bgSecondary: #131313e1;
$bgTertiary: #2fa50b;
$textPrimary: #a3a3a3;
$fontPrimary: Clash Display;
